#navbar {
  display: flex;
  height: 40px;
  background-color: #282c34;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

#navbar-title {
  margin-right: auto;
}

#navbar-title a {
  color: white;
  text-decoration: none;
}

.navbar-link a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.navbar-link {
  color: white;
  cursor: pointer;
}

#admin-dashboard-title {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.admin-dashboard-button {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 30px;
}

.admin-dashboard-link {
  text-decoration: none;
  padding-bottom: 50px;
}

#admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

#register-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-left: 25vw;
}

.register-form-input {
  margin-bottom: 20px;
  height: 25px;
}

#register-form-submit-button {
  width: 100px;
  margin-left: auto;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-left: 25vw;
}

.login-form-input {
  margin-bottom: 20px;
  height: 25px;
}

#login-form-submit-button {
  width: 100px;
  margin-left: auto;
}

#toast {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 150px;
  margin-right: 10px;
}

.product-button {
  background-color: #282c34;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  margin-left: 40px;
  cursor: pointer;
}

#product-container {
  display: flex;
  height: 200px;
  width: 100%;
  background-color: rgb(236, 236, 236);
  margin-bottom: 5px;
}

#product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#product-image {
  height: 190px;
  width: 190px;
  margin: 5px;
}

#product-info-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-info {
  margin-bottom: 10px;
  margin-right: 50px;
  max-width: 40vw;
  max-height: 130px;
  overflow-y: auto;
}

#page-controls {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

#page-number {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  font-size: 17px;
}

.page-control {
  cursor: pointer;
  background-color: #282c34;
  color: white;
  padding: 5px;
}

#products-search {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.coin-input-title {
  margin-bottom: 3px;
}

#add-coin-form-submit-button {
  margin-top: 10px;
  width: 100px;
  margin-left: auto;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 3vw;
}

.button {
  background: rgb(28, 184, 65);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 100%;
  padding: .5em 1em;
  text-decoration: none;
  letter-spacing: .01em;
  cursor: pointer;
}